<% provide(:title, 'About') %>
<html>
<body>
<br> <br>
A Q&A website is a website where the site creators use the images of pop culture icons to answer input from the site's visitors, usually in question/answer format. This format of website evolved from the much older Internet Oracle. The original progenitor of this type of site was the now-defunct Forum 2000. The Forum 2000 claimed to have run the site by means of artificial intelligence, and the personalities on the website were called SOMADs, or "State of Mind Adjointness pairs". However, modern Q&A sites usually dispose of this pretense, with the most extreme example being Jerk Squad!, in which the administrators of the site provide many of the answers.
</body>
</html>