<div class="center jumbotron">
  <h1>Welcome to the language Q&A</h1>

  <h2>
    This is the home page of language Q&A
  </h2>

  <%= link_to "Sign up now!",signup_path, class: "btn btn-primary btn-lg" %>
  <br></br>
  <%= link_to "List Question!",listquestion_path, class: "btn btn-primary" %>
</div>