/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#wrapLeft {
    display: block;
    width: 750px;
    margin: 5px;
    float: left;
}

#wrapLeft nav{
    display: block;
    width: 100%;
    border-bottom: 2px solid #333;
}

#wrapLeft nav ul {
    list-style: none;
}

#wrapLeft nav li {
    display: inline;
}

.subnav {
    font-family: Verdana, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    color: #0000FF;
    text-decoration: none;
    padding: 5px 15px;
    display: inline-block;
    cursor: pointer;
}

.subnav:hover {
    color: #FFF;
    background-color: #333;
}

#questions {
    overflow: hidden;
}

.qSummary {
    height: 150px;
    margin: 10px 0px;
    border-bottom: 1px solid #a1a1a1;
}

.qStats {
    width: 100px;
    padding: 0px 20px;
    float: left;
}

.qVotes {
    margin-top: 20px;
    background-color: #EEE;
    border: 1px solid #a1a1a1;
}
.vot
{
     font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.qAnswers {
    float:left;
    margin-top: 20px;
    background-color: #EEE;
    border: 1px solid #a1a1a1;
}

.number {
    font-family: Verdana, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #3894FF;
}

.label {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: center;
    color: #000;

}

.qQuestion {
    width: 600px;
    padding-top: 10px;
    padding-right: 20px;
    float: right;
}

.qTitle {
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}

.qTitle:hover {
    text-decoration: underline;
}

.qContent {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9em;
    margin: 10px 0;
}

.qAuthor {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: right;
}

.userLink {
    text-decoration: none;
    color: #0057C1;
}

.userLink:hover {
    text-decoration: underline;
}

#wrapRight {
    display: block;
    width: 220px;
    margin: 5px;
    margin-top: 40px;
    float: right;
}

#askQuestion p {
    display: block;
    width: 160px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    background-color: #0078F0;
    padding: 10px 0px;
    margin: 0 auto;
    margin-bottom: 40px;
    cursor: pointer;
}

#askQuestion p:hover {
    background-color: #3C9DFF;
}

/* popup panel for question */

#overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, .5);
}

#wrapQuestionForm {
    position: relative;
    top: 10%;
    width: 600px;
    background: #FFF;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid #000;
}

#closeImg {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    opacity: 0.2;
    cursor: pointer;
}

#closeImg:hover {
    opacity: 1;
}

.formText {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: center;
    color: #333;
}

.formLabel {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
    margin-bottom: 3px;
}

.formError {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.7em;
    color: #DE6464;
    margin-bottom: 10px;
}

#question_title {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9em;
    display: block;
    width: 99%;
}

#question_content {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9em;
    display: block;
    resize: none;
    width: 99%;
    height: 250px;
}

.submitPos {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#formSubmit {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    width: 150px;
    border: none;
    background-color: #0078F0;
    color: #FFF;
    cursor: pointer;
    padding: 5px 0px;
}

#formSubmit:hover {
    background-color: #3C9DFF;
}

